@import "../../constants//variable.base.scss";

.login_box {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .wrapper {
    height: 500px;
    display: flex;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12);
    @include Responsive(SM) {
      width: 80%;
    }
    @include Responsive(MD) {
      width: 70%;
    }
    @include Responsive(XL) {
      width: 70%;
      justify-content: space-between;
    }
    .left {
      padding: 0px 10px;
      width: 55%;
      position: relative;
      box-sizing: border-box;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        @include Responsive(SM) {
          width: 100%;
        }
        @include Responsive(MD) {
          width: 100%;
        }
        @include Responsive(XL) {
          // width: 100%;
          width: unset;          
          height: 100%;
        }
      }
    }
    .right {
      width: 45%;
      background-color: rgb(126, 156, 232);
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      padding: 15px;
      box-sizing: border-box;
      @include Responsive(XL) {
        width: calc(45% - 22px);
      }
      h1 {
        color: #ffffff;
        font-size: 1.3em;
      }
      .form {
        .title {
          color: #ffffff;
          margin-bottom: 10px;
          &:not(:first-child) {
            margin-top: 10px;
          }
        }
        .login_btn {
          box-sizing: border-box;
          width: 100%;
          height: 34px;
          margin-top: 20px;
          font-size: 1em;
          font-weight: 600;
          border-radius: 4px;
          border: unset;
          background-color: rgb(40, 167, 210);
          color: white;
        }
        .login_btn:hover {
          opacity: 0.5;
        }
        .input {
          .dx-widget {
            .dx-texteditor-container {
              .dx-texteditor-input-container {
                .dx-texteditor-input {
                  height: 28px !important;
                  min-height: unset !important;
                }
              }
            }
          }
        }
      }
    }
  }
}
