@import "../../constants//variable.base.scss";

.user-image {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
.header-form {
  padding-bottom: 10px;
}
.toolbar-btn-title {
  text-align: left;
  font-weight: bold;
}
.button-collapse {
  .dx-button-content {
    width: 100%;
  }
}
// .row-question {
//   display: flex;
//   flex: 1;
//   width: 100%;
//   flex-direction: row;
//   justify-content: center;
//   align-items: center;
//   .question-grid {
//   }
//   .question-file-grid {
//     padding-left: 10px;
//   }
// }
