@import "../../constants//variable.base.scss";

.user-image {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
.header-form {
  padding-bottom: 10px;
}
.toolbar-btn-title {
  text-align: left;
  font-weight: bold;
}
