@import "../../constants//variable.base.scss";

.wrapper {
  padding: 0px 15px;
  .header {
    margin-bottom: 10px !important;
    .row {
      display: flex;
      box-sizing: border-box;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: 10px 0px 0px 0px;
      .left {
        line-height: 35px;
        h3 {
          margin: unset;
          text-transform: uppercase;
          font-weight: bold;
          font-size: $font-size-larger;
        }
      }
      .right {
        line-height: 35px;
        .add_btn {
          color: $black;
          background-color: rgb(244, 191, 8);
          border-radius: 30px;
          @include Responsive(SM) {
            height: 100%;
          }
          @include Responsive(MD) {
            height: 36px;
          }
          @include Responsive(XL) {
            height: 36px;
          }
          .dx-button-content {
            display: flex;
            align-items: center;
            line-height: unset;
            box-sizing: border-box;
          }
        }
        .add_btn:hover {
          opacity: 0.8;
        }
      }
    }
  }
  .content {
    .dx-toolbar-items-container {
      margin-top: 0px !important;
    }
  }
}

//Create Box
.create_header {
  .row_1 {
    display: flex;
    justify-content: space-between;
    .left {
      h4 {
        margin: 0px;
        font-size: 1.4em;
      }
      .date_box {
        width: 440px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .date_panel {
          display: flex;
          align-items: center;
          border-radius: 4px;
          box-sizing: border-box;
          border: 1px solid rgb(221,221,221);
          height: 36px;
          width: 270px;
          line-height: 36px;
          padding: 0px 0px 0px 20px;      
          text-align: left;
          font-size: 1.6em;
          font-weight: 600;
          color: #2452ad;
        }
      }
    }
    .right {
      .save_btn {
        color: $black;
        background-color: rgb(244, 191, 8);
        font-size: 1em;
        font-weight: 600;
        width: 60px;
        padding: 7px 0px;
        border-radius: 30px;
      }
      .save_btn:hover {
        opacity: 0.8;
      }
    }
  }
  .row2 {
    width: 100%;
  }
}

.creat_content {
  .title {
    margin-bottom: 12px;
    position: relative;
    font-size: 1.2em;
    font-weight: 600;
  }
  .title::first-letter {
    text-transform: capitalize;
  }
  .title::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 200px;
    background-color: red;
    left: 0px;
    bottom: -6px;
  }
  .form {
    display: flex;
    flex-wrap: wrap;
    .input_title::first-letter {
      text-transform: capitalize;
    }
    .input_box {
      box-sizing: border-box;
      width: 50%;
      padding-right: 10px;
      margin: 5px 0px;
      display: flex;
      justify-content: space-between;
      // .input_field {
      //   .input {
      //     width: 60%;
      //   }
      // }
    }
  }
  .tag_box {
    margin-bottom: 5px;
  }
}

.item_btn {
  height: 24px;
  width: 85px;
  line-height: 24px;
  border-radius: 30px;
  text-transform: capitalize;
  color: #ffffff !important;
  text-decoration: none !important;
  font-size: 1em;
  font-weight: 700;
  background-color: rgba(74, 214, 74, 0.795);
  display: block;
	margin: auto;
}

.item_btn:hover {
  opacity: 0.8;
}

.method {
  color: $primary-color;
}

.method:hover {
  color: rgb(146, 146, 228);
  cursor: pointer;
}